<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>929817228975-164n9k73srqmk44hmbpl9m2d7in22t9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929817228975-164n9k73srqmk44hmbpl9m2d7in22t9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBpxrIBH01ZRUXIa0HlAjMuMg7quoPiiDc</string>
	<key>GCM_SENDER_ID</key>
	<string>929817228975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.manager052691</string>
	<key>PROJECT_ID</key>
	<string>housemates-9f3f7</string>
	<key>STORAGE_BUCKET</key>
	<string>housemates-9f3f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929817228975:ios:fc7a8cb127a92497</string>
	<key>DATABASE_URL</key>
	<string>https://housemates-9f3f7.firebaseio.com</string>
</dict>
</plist>